.container-main {
    background-color: #6ab04c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0 7%;
}

.container-main ul {
    list-style: none;
    display: flex;
}

.container-main ul li {
    padding: 0 20px;
}

.container-main ul li a {
    text-decoration: none;
    color: #fff;
}

.img {
    height: 50px;
}