nav {
    background-color: rgb(65, 138, 77);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 8px;
}